<!-- <div class="container-fluid"> -->
  <div class="well">
    <h3 class="text-center">Useful Links</h3>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li><a href="http://kendama.org/">What Is a Kendama?</a></li>
          <li><a href="https://kendamausa.com/">Kendama USA</a></li>
          <li><a href="https://sweetskendamas.com/">Sweets Kendama</a></li>
          <li><a href="https://bonzaikendama.com/">Bonzai Kendama</a></li>
          <li><a href="https://kromkendama.com/">KROM Kendama</a></li>
          <li><a href="https://www.gloken.net/">GLOKEN</a></li>
          <li><a href="https://www.solkendamas.com/">SOL Kendamas</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li><a href="https://www.terrakendama.com/">Terra Kendama</a></li>
          <li><a href="http://graintheory.bigcartel.com/">Grain Theory</a></li>
          <li><a href="http://www.rez.bigcartel.com/store">REZ KEN</a></li>
          <li><a href="http://www.dealwithitsf.com/">DEAL WITH IT</a></li>
          <li><a href="https://atlantickendamas.com/password">Atlantic Kendamas</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- </div> -->
