.well{
  background-color: black;
  color:#DAA520;
  border:none;
}
h3{
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
  color: #0f0;
  text-shadow: 2px 2px 2px #DAA520;
}
ul{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
    color: rgba(244, 4, 192, 1);
}
/*IMAGES*/
img{
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;

}
