<div class="well">
  <h1>About Kendama HQ</h1>
  <p>Kendama HQ is for all Kendama Players, as well as those simply wishing to learn more bout Kendama. You will find a list of Kendama Players, Links to more Kendama focused websites, as well as a Trick List page, that can be searched by Trick Difficulty</p>
</div>
<div class="well">
  <h1>About Kendama</h1>
  <p>A kendama (けん玉) is a Japanese toy consisting of a hammer-shaped handle connected by a string to a ball. Made of wood, the ends of the base and the crosspiece of the hammer are cupped so that they can catch the ball, and the ball has a hole in it that can fit on a spike on the end of the hammer.

    To play with a kendama, the ball is jerked or swung and caught in one of the cups or impaled on the spike. More advanced tricks involve sequential catches, juggles, and balances often not even involving the cups or spike.</p>
    <p><a href="http://kendama.org">~ Kendama.org</a></p>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <img class="img-responsive img-circle" src="./../assets/slaymod.jpeg" alt="Kendama USA">
  </div>
  <div class="col-md-4">

  </div>
</div>
