<div id="wrapper">

  <div id="header">
    <nav id="nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="">Kendama HQ</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="player-list">Player List</a></li>
          <li><a routerLink="trick-list">Trick List</a></li>
          <li><a routerLink="links">Links</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end of header -->

  <div id="content" class="container">
    <router-outlet></router-outlet>
    <br>
  </div>
  <!-- end of content -->

<div class="container-fluid">
  <div id="footer">
      <p id="admin-link"><a routerLink="admin">Admin</a></p>
      <a id="github-link" href="http://github.com/eb888"><p class="text-center">Copyright <span class="font-green">&copy; </span>2017 Laser Hawk Media | Portland, OR</p></a>
  </div>
</div>
  <!-- end of footer -->

</div>
<!-- end of wrapper -->
