<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Player to Database</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>New Player Name:</label>
        <input #newName>
      </div>

      <div>
        <label>New Player Style:</label>
        <input #newStyle>
      </div>

      <div>
        <label>New Player Biography:</label>
        <input #newBiography>
      </div>
      <div>
        <label>New Player Image URL:</label>
        <input #newImage>
      </div>
      <div>
        <label>New Player Instagram Link:</label>
        <input #newInstagram>
      </div>
      <div>
        <label>Other Info About Player:</label>
        <input #newOtherInfo>
      </div>
      <button (click)="submitForm(newName.value, newStyle.value, newBiography.value, newImage.value, newInstagram.value, newOtherInfo.value); newName.value=''; newStyle.value=''; newBiography.value=''; newImage.value=''; newInstagram.value=''; newOtherInfo.value='';">Add New Player</button>
    </div>
  </div>
</div>

<div>
  <app-player-list></app-player-list>
</div>
