.panel, .panel-body, .panel-default, .panel-heading, .panel-title{
  background-color: black;
  color:#DAA520;
  border:none;
  border-radius:10px;
}
h3{
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
  /*color: #0f0;*/
  /*text-shadow: 2px 2px 2px #0f0;*/
}
