<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1 id="main-header" class="text-center">{{title}}</h1>
      <h4 class="text-center font-green">Your place to find players near you, learn new tricks, and explore the community</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

  </div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/pdt4mzx_bbE" frameborder="1" allowfullscreen>Bonz Atron Pro Edit Video</iframe>
    <p class="custom-p"><span class="font-green">Check our currently featured video!</span> Bonz Atrons Pro Edit for KROM Kendama</p>
  </div>
  <br>
  <br>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

  </div>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4">
    <img class="img-responsive welcome-image" src="./../assets/bonzatron.jpeg" alt="Bonz Atron">
  </div>
  <div class="col-md-4 col-lg-4">
    <img class="img-responsive welcome-image" src="./../assets/jakefischer.jpeg" alt="Jake Fischer">
  </div>
  <div class="col-md-4 col-lg-4">
    <img class="img-responsive welcome-image" src="./../assets/keith.jpeg" alt="Hiroki">
  </div>
</div>
