/*#main-header{
  color:black
}*/
.welcome-image{
  border-radius: 10px;
  /*transition:box-shadow 0.5s;*/
}
.welcome-image:hover, .custom-video:hover{
  box-shadow:10px 10px 40px rgba(0,0,0,.9);
}
.well{
  background-color: black;
  color:#DAA520;
  border:none;
}
h1{
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
  color: #0f0;
  text-shadow: 2px 2px 2px #DAA520;
}
/*VIDEO*/
.custom-video{
  /*margin-left: 20%;*/
}
