.panel-body, ul, .well{
  background-color: black;
  color:#DAA520;
  border:none;
}
select{
  color:black;
}
h2{
  font-family:'gang_crimeregular';
  letter-spacing:4.5px;
  color: #DAA520;
  text-shadow: 2px 2px 2px #0f0;
}
/*.panel-body{
  margin:10px;
  padding: 5px;
  border-radius: 5px;
}*/
