/*STYLES FOR STICKY FOOTER*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	/*padding:10px;*/
  min-height:90px;
  background-color: black;
}
#content {
  padding-top: 10px;
	padding-bottom:50px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}
/*GLOBAL STYLES*/
/*GLOBAL STYLES*/
/*GLOBAL STYLES*/
/*GLOBAL STYLES*/
#wrapper{
  background-color:#212124;
  background-image: url('/assets/grafitti2.jpeg');
  /*background-image: url('/assets/grafitti-background.jpeg');*/
  background-size:100%;
}
#header{
}
/*WITHIN CONTENT DIV*/
#content{
  color:#DAA520;
  /*color:white;*/
}
/*FOOTER*/
#footer{
  background-color:black;
  /*background-color:#48484c;*/
  color:white;
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
}
#footer a{
  color:#DAA520;
  /*color:white;*/
}
#footer a:hover{
  /*color:black;*/
  /*color:#4a148c;*/
  color: #0f0;
  text-shadow: 2px 2px 2px #DAA520;
  border-radius: 10px;
}
#github-link{
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}
#admin-link{
  float:left;
  padding-left: 10px;
  padding-top: 10px;
}
/*NAVBAR*/
.navbar{
  padding-top:15px;
  padding-bottom:15px;
  /*border:0;*/
  /*margin-bottom:0;*/
}
#nav{
  background-color:black;
  /*background-color:#48484c;*/
  border:none;
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
}
#nav a{
  color:#DAA520;
  /*color:white;*/
}
#nav a:hover{
  /*color:black;*/
  /*text-shadow: 1px 1px 1px #0f0;*/
  border-radius: 10px;
  border:2px solid #0f0;
  color: #0f0;
  text-shadow: 2px 2px 2px #DAA520;
}
/*LABELS & INPUTS*/
label{
  width:200px;
  text-align: left;
}
#content input{
  color:black;
  margin:5px;
}
input:focus, input:hover{
  background: #0f0;
}
/*PLAYER IMAGES*/
img{
  max-width: 500px;
  max-height: 500px;
}
/*FONTS*/
@font-face {
    font-family: 'gang_crimeregular';
    src: url('/assets/gang-font/gang_crime-webfont.woff2') format('woff2'),
         url('/assets/gang-font/gang_crime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*.gang-font{
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
}*/
/*#wrapper{
  font-family:'gang_crimeregular';
  letter-spacing:2.5px;
}*/
.font-green{
  color: #0f0;
}
/*BUTTONS*/
#content button{
  color: rgba(244, 4, 192, 1);
  background-color:#2e2e30;
  border: none;
  border-radius:4px;
  padding:10px;
}
#content button:hover{
    background-color:rgba(244, 4, 192, 1);
    color:#2e2e30;
}
/*PANEL BODIES*/
/*.panel-body{
  transition:box-shadow 0.5s;
}*/
